/* Empty. Add your own CSS if you like */

.menu .bar{
  background-image: url("../img/coffee_menu_background.jpg");
  background-size: cover;
}

.menu .bar h2 {
  bottom: 20px;
  font-size: 18px;
  left: 20px;
  position: absolute;
}

.menu .avatar {
  background-image: url('../img/nespresso_logo.jpg');
  background-size: cover;
  height: 60px;
  width: 60px;
}

