/* Empty. Add your own CSS if you like */

.menu .bar{
  background-image: url("../img/coffee_menu_background.jpg");
  background-size: cover;
}

.menu .bar h2 {
  bottom: 20px;
  font-size: 18px;
  left: 20px;
  position: absolute;
}

.menu .avatar {
  background-image: url('../img/nespresso_logo.jpg');
  background-size: cover;
  height: 60px;
  width: 60px;
}



.card-title-shadow
{
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}

.text-on-image{
  position: absolute;
  z-index: 10;
  bottom:0px;
  padding:15px;
  text-align: right;
}

.text-on-image h2{
  color: #fff;
  font-size: 2em !important;
}

.text-on-image h3{
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}

