<ion-view view-title="קטגוריות" >
  <ion-content>
    <div class="list card">
      <a class="item item-image" id="category-item" href="#/app/categories/breads">
        <img src="img/breads.jpg">  <!--for android replace .. with /android_asset/www-->
        <div class="text-on-image card-title-shadow">
          <h2>שתיה חמה</h2>
          <h3>להתחיל את הבוקר בחיוך</h3>
        </div>
      </a>
    <a class="item item-image" id="category-item">
      <img src="img/maafim.jpg">
      <div class="text-on-image card-title-shadow">
        <h2>מאפים</h2>
        <h3>כל סוגי המאפים, טריים ישר מהתנור</h3>
      </div>
    </a>
    <a class="item item-image" id="category-item" href="#/app/categories/makeTost">
      <img src="img/tostim.jpg">
      <div class="text-on-image card-title-shadow">
        <h2>טוסטים</h2>
        <h3>טוסטים בהרכבה אישית</h3>
      </div>
    </a>
    <a class="item item-image" id="category-item">
      <img src="img/drinks.jpg">
      <div class="text-on-image card-title-shadow">
        <h2>שתייה</h2>
        <h3>כל סוגי השתייה</h3>
      </div>
    </div>
    </a>
<!--      <ion-item class="image">
        <img src="../img/maafim.jpg">
      </ion-item>
      <ion-item class="image">
        <img src="../img/tostim.jpg">
      </ion-item>
      <ion-item class="image" style="background-color: tan;">
        <img src="../img/drinks.jpg" >
      </ion-item>-->
    </ion-content>
</ion-view>
