<ion-view view-title="קפה">
    <ion-content dir="rtl">
        <ion-spinner class="spinner spinner-energized" icon="lines" ng-show="showSpinner"></ion-spinner>
        <div ng-show="!showSpinner">
            <div class="coffee">
                <div style="margin: auto; width: 50%;">
                    <h4 class="md-title" dir="rtl" style="text-align: center; white-space: nowrap;">שתייה חמה</h4>
                    <hr> </div>
            </div>
            <div>
                <div style="padding-right:10px;float:right;width:50%;">
                    <md-radio-group class="md-primary" ng-model="coffeeType" style="float:right;" ng-change="onTypeChange(coffeeType)">
                        <md-radio-button ng-repeat="type in types" value="{{type}}">{{type.displayName}}</md-radio-button>
                    </md-radio-group>
                </div>
                <div style="padding-right:10px;float:right;width:50%;">
                    <md-radio-group class="md-primary" ng-model="cupSize" ng-change="onSizeChange(cupSize)">
                        <md-radio-button ng-repeat="size in sizes" value="{{size}}">{{size.name}} <span class="md-body-1" style="color:red;"><br>מחיר: {{size.price}} &#8362; </span></md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <md-checkbox class="extras-checkbox item item-checkbox-right md-primary" ng-repeat="x in extras" ng-model="x.checked" ng-change="ExtrasChange(x)" style="width:100%;padding-right:50px;" ng-disabled="disableExtra"><span class="md-body-2">{{x.extraDisplayName}}</span><span class="md-body-1" style="color:red;"><br>בתוספת: {{x.extraPrice}} &#8362; </span></md-checkbox>
                </div>
            </div>
        </div>
    </ion-content>
    <form name="coffeeForm">
        <div class="bar bar-footer bar-default">
            <md-input-container class="md-block">
                <label dir="rtl">הערות</label>
                <textarea ng-model="$root.coffeeExInfo" name="exInfoInput" ng-maxlength="20" md-maxlength="20" rows="1" style="text-align:right;"></textarea>
            </md-input-container>
            <div style="float:right;">
                <md-button class="md-icon-button ion-minus-round" ng-disabled="coffeeAmount == 1" ng-click="coffeeAmount = coffeeAmount -1; coffeeTotalPrice = (coffeeTotalPrice/(coffeeAmount+1))*coffeeAmount"></md-button>
                <p style="display:inline;"><span ng-bind="coffeeAmount"></span></p>
                <md-button class="md-icon-button ion-plus-round" ng-disabled="coffeeAmount == 5" ng-click="coffeeAmount = coffeeAmount +1; coffeeTotalPrice = (coffeeTotalPrice/(coffeeAmount-1))*coffeeAmount"></md-button>
                <p style="padding-right: 20px;">סה"כ: <span style="color:red;">&#8362;<span ng-bind="coffeeTotalPrice" class="md-body-2"></span></span>
                </p>
            </div>
            <md-button class="md-raised md-primary" style="margin: 0 auto; display: block;" ng-disabled="coffeeForm.exInfoInput.$error.maxlength" ng-click="AddCoffeeToOrder()"> הוסף להזמנה </md-button>
        </div>
    </form>
</ion-view>