<ion-view view-title="קרמה קפה">
    <ion-content dir="rtl" scroll="false">
        <h5 ng-model="test"></h5>
        <div class="container">
            <div class="empty-order" ng-show="isOrderEmpty" style="background-color:transparent;">
                <p class="md-body-12">אין מוצרים בהזמנה</p>
                <md-button class="md-raised md-primary" href="#/app/categories"> הזמן עכשיו </md-button>
            </div>
            <div class="full-order" ng-show="!isOrderEmpty" style="background-color:transparent;">
                <p class="md-body-12">הוסף מוצרים להזמנה או שתעבור אליה</p>
                <md-button class="md-raised md-primary" href="#/app/categories"> הוסף מוצרים </md-button>
                <md-button class="md-raised md-warn" href="#/app/order"> גש להזמנה </md-button>
            </div>
    </ion-content>
</ion-view>