<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button ion-close-round" ng-click="cancel()"> </md-button>
            </div>
        </md-toolbar>
    </form>
    <md-dialog-content>
        <div class="shakshuka-content" dir="rtl">
            <div class="shakshuka-menu">
                <div style="margin: auto; width: 50%;">
                    <h4 class="md-title" dir="rtl" style="text-align: center; white-space: nowrap;">שקשוקה</h4>
                    <hr> </div>
                <div> </div>
            </div>
    </md-dialog-content>
</md-dialog>